body {
  background-color: #EAEAE7;
  font-size: 1em;
  line-height: 1.3;
}
/* Headings */
h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold */
  line-height: 1.3;
}

/* Font sizes for headings */
h1 {
  font-size: 1.8em;
}

/* Add "← " prefix to h1 */
h1::before {
  content: "← ";
}

/* Remove arrow for h1 with .no-arrow class */
h1.no-arrow::before {
  content: none;
}

h1 a {
  text-decoration: none; /* Remove default underline */
  color: inherit;
}

/* Style inline image in h1 */
h1 img.h1-icon {
  height: 1.4em; /* It has to be smaller than the font size because it's gonna be larger anyway */
  width: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align with text */
  margin-right: 0.2em; /* Space between image and text */
}

h2 {
  font-size: 1.5em;
  color: #993366;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

/* Add "■ " prefix to h2 */
h2::before {
   content: "↑ ";
}

/* Style links within h2 to match h2 styling */
h2 a {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold */
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Match h2 text color */
}

h3 {
  font-size: 1.2em;
  color: #004080;
  margin-top: 0.9em;
  margin-bottom: 0.3em;  
}

/* Paragraphs */
p {
  font-family: 'Literata', serif;
  font-size: 1em;
  font-weight: 400; /* Regular */
  line-height: 1.3;
  margin: 0.3em 0;
}

/* Bold text in paragraphs */
p b, p strong {
  font-family: 'Literata', serif;
  font-weight: 700; /* Bold */
}

/* Preformatted text */
pre {
  font-family: 'Fira Code', monospace;
  font-size: 1em;
  padding: 0.3em 0.6em;
  white-space: pre; /* Preserve whitespace, no wrapping */
  overflow-x: auto; /* Horizontal scrollbar for long lines */
}

/* Code */
code {
  font-family: 'Fira Code', monospace;
  font-size: 1em; /* Explicitly reinforce */
}

/* Bold text in code and preformatted text */
pre b, pre strong, code b, code strong {
  font-family: 'Fira Code', monospace;
  font-weight: 700; /* Bold */
}

ol, ul {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
li {
  font-family: 'Literata', serif;
  font-size: 1em;
  font-weight: 400; /* Regular */
  line-height: 1.3;  
}

ol li::marker {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold */
  color: #555; /* Different color */
}

pre {
background-color: #F9F8F5;
}

/* Bold text in code and preformatted text */
pre b, pre strong, code b, code strong {
  font-family: 'Fira Code', monospace;
  font-weight: 700; /* Bold */
}